.form-check .form-check-input {
    float: none;
    margin-right: 1em;
    border: var(--bs-border-width) solid #2f3c4d;;
}

.task-title {
    font-size: larger;
}

.task-desc {
    font-size: smaller;
}

.task-title-col {
    width: 30%;
}

.task-desc-col {
    width: 65%;
}